@font-face {
  font-family: "Gilroy Regular";
  src: url("../fonts/Gilroy-Regular.eot");
  src: url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "Gilroy Regular";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1820px;
  margin: 0 auto;
}

.container-form {
  max-width: 780px;
  margin: 120px auto 160px 359px;
}
@media (max-width: 1460px) {
  .container-form {
    margin: 121px auto 404px 359px;
  }
}
@media (max-width: 923px) {
  .container-form {
    margin: 121px auto 404px 42px;
  }
}
@media (max-width: 426px) {
  .container-form {
    margin: 121px auto 404px 0px;
  }
}

.container-footer {
  padding: 42px 0px 20px 359px;
  max-width: 1920px;
  background: linear-gradient(93.29deg, #388AF3 21.04%, #A483E2 88.77%);
}
@media (max-width: 1460px) {
  .container-footer {
    padding: 37px 72px 26px 40px;
  }
}
@media (max-width: 769px) {
  .container-footer {
    padding: 37px 0px 26px 0px;
  }
}

.nav {
  margin: 45px 50px 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1820px;
}
.nav__menu {
  display: flex;
  justify-content: space-between;
  width: 359px;
  font-weight: 600;
  font-size: 18px;
}
.nav__menu a {
  color: #343434;
}
.nav__menu-active a {
  color: #388AF3;
}
.nav__menu-projects {
  position: relative;
}
.nav__menu-about {
  position: relative;
}
.nav__menu-contacts {
  position: relative;
}
.nav__menu .circle-projects {
  display: none;
  width: 7px;
  height: 7px;
  position: absolute;
  left: 50%;
  top: 23px;
  background: #388AF3;
  border-radius: 50%;
}
.nav__menu .circle-about {
  display: none;
  width: 7px;
  height: 7px;
  position: absolute;
  left: 50%;
  top: 23px;
  background: #388AF3;
  border-radius: 50%;
}
.nav__menu .circle-contacts {
  display: none;
  width: 7px;
  height: 7px;
  position: absolute;
  left: 50%;
  top: 23px;
  background: #388AF3;
  border-radius: 50%;
}
.nav__left {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__lang-ru {
  position: relative;
  color: #979BAD;
  font-weight: 600;
  font-size: 16px;
  margin-right: 15px;
  cursor: pointer;
}
.nav__lang-en {
  position: relative;
  color: #979BAD;
  font-weight: 600;
  font-size: 16px;
  margin-right: 15px;
  cursor: pointer;
}
.nav__lang-active {
  color: #388AF3;
}
.nav .circle-ru {
  display: none;
  width: 7px;
  height: 7px;
  position: absolute;
  left: 7px;
  top: 22px;
  background: #388AF3;
  border-radius: 50%;
}
.nav .circle-en {
  display: none;
  width: 7px;
  height: 7px;
  position: absolute;
  left: 7px;
  top: 22px;
  background: #388AF3;
  border-radius: 50%;
}
.nav__begin {
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #388AF3;
  margin-left: 49px;
  cursor: pointer;
}
.nav__begin span {
  margin-right: 20px;
}
.nav__ellipse {
  position: absolute;
  top: -22px;
  right: -10px;
  width: 60px;
  height: 60px;
  border: 1px solid #E2E2E2;
  border-radius: 70px;
}
.nav__dots {
  display: none;
  justify-content: space-between;
  align-items: center;
}
.nav__dots .dot {
  width: 7px;
  height: 7px;
  background: #388AF3;
  border-radius: 50%;
}

@media (max-width: 993px) {
  .nav__menu {
    display: none;
  }
}
@media (max-width: 426px) {
  .nav {
    margin: 20px 40px 0px 40px;
  }
  .nav__left {
    display: none;
  }
  .nav__dots {
    display: flex;
  }
}
.contact {
  position: relative;
}
.contact .menu {
  font-size: 18px;
  font-weight: 300;
}
.contact .menu a {
  text-decoration: none;
  color: #303030;
}
.contact .menu__active {
  font-weight: 600;
}
.contact .form {
  position: relative;
  margin-top: 61px;
}
.contact .form__header {
  font-weight: 900;
  font-size: 80px;
  color: #388AF3;
}
.contact .form__descr {
  max-width: 542px;
  margin-top: 10px;
  font-weight: 400;
  font-size: 20px;
  color: #343434;
}
.contact .form__descr span {
  color: #388AF3;
}
.contact .form__input {
  margin-top: 97px;
  max-width: 741px;
  display: flex;
  flex-wrap: wrap;
}
.contact .form .wrapper-name {
  position: relative;
}
.contact .form__name {
  width: 433px;
  margin-right: 29px;
  height: 58px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #CCCCCC;
  outline: none;
  font-weight: 300;
  font-size: 26px;
  color: #343434;
}
.contact .form .placeholder-name {
  position: absolute;
  left: 0px;
  top: 14px;
  font-weight: 300;
  font-size: 26px;
  color: #CCCCCC;
}
.contact .form .placeholder-name span {
  color: red;
}
.contact .form__name:not(:-moz-placeholder-shown) ~ .placeholder-name {
  transform: translateY(-30px) translateX(-19px) scale(0.75);
}
.contact .form__name:not(:-ms-input-placeholder) ~ .placeholder-name {
  transform: translateY(-30px) translateX(-19px) scale(0.75);
}
.contact .form__name:focus ~ .placeholder-name, .contact .form__name:not(:placeholder-shown) ~ .placeholder-name {
  transform: translateY(-30px) translateX(-19px) scale(0.75);
}
.contact .form .wrapper-email {
  position: relative;
}
@media (max-width: 768px) {
  .contact .form .wrapper-email {
    width: 400px;
    margin-top: 60px;
  }
}
.contact .form__email {
  width: 278px;
  height: 58px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #CCCCCC;
  outline: none;
  font-weight: 300;
  font-size: 26px;
  color: #343434;
}
@media (max-width: 1125px) {
  .contact .form__email {
    max-width: 433px;
  }
}
.contact .form .placeholder-email {
  position: absolute;
  left: 0px;
  top: 14px;
  font-weight: 300;
  font-size: 26px;
  color: #CCCCCC;
}
.contact .form .placeholder-email span {
  color: red;
}
.contact .form__email:not(:-moz-placeholder-shown) ~ .placeholder-email {
  transform: translateY(-30px) translateX(-19px) scale(0.75);
}
.contact .form__email:not(:-ms-input-placeholder) ~ .placeholder-email {
  transform: translateY(-30px) translateX(-19px) scale(0.75);
}
.contact .form__email:focus ~ .placeholder-email, .contact .form__email:not(:placeholder-shown) ~ .placeholder-email {
  transform: translateY(-30px) translateX(-19px) scale(0.75);
}
.contact .form .wrapper-comment {
  position: relative;
}
.contact .form__comment {
  width: 740px;
  height: 58px;
  margin-top: 60px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #CCCCCC;
  outline: none;
  font-weight: 300;
  font-size: 26px;
  color: #343434;
}
@media (max-width: 1125px) {
  .contact .form__comment {
    max-width: 433px;
  }
}
.contact .form .placeholder-comment {
  position: absolute;
  left: 0px;
  top: 71px;
  font-weight: 300;
  font-size: 26px;
  color: #CCCCCC;
}
.contact .form .placeholder-comment span {
  color: red;
}
.contact .form__comment:not(:-moz-placeholder-shown) ~ .placeholder-comment {
  transform: translateY(-30px) translateX(-19px) scale(0.75);
}
.contact .form__comment:not(:-ms-input-placeholder) ~ .placeholder-comment {
  transform: translateY(-30px) translateX(-19px) scale(0.75);
}
.contact .form__comment:focus ~ .placeholder-comment, .contact .form__comment:not(:placeholder-shown) ~ .placeholder-comment {
  transform: translateY(-30px) translateX(-19px) scale(0.75);
}
.contact .form__checkbox {
  margin-top: 31px;
}
.contact .form__checkbox .placeholder-check span {
  color: #388AF3;
  margin-left: 5px;
}
.contact .form__checkbox-custom {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.contact .form__checkbox-custom + .placeholder-check {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.contact .form__checkbox-custom + .placeholder-check::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 1em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.contact .form__checkbox-custom:checked + .placeholder-check::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 1em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  background-image: url("../img/checked.svg");
}
.contact .form__btn {
  position: absolute;
  cursor: pointer;
  width: 227px;
  height: 227px;
  bottom: 50px;
  right: -300px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact .form__btn-text {
  margin-top: 28px;
  font-weight: 800;
  font-size: 20px;
  color: #388AF3;
}
.contact .form__btn-active {
  position: absolute;
  cursor: pointer;
  width: 227px;
  height: 227px;
  bottom: 50px;
  right: -300px;
  border-radius: 50%;
  background: #388AF3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact .form__btn-active span {
  margin-top: 0px;
  font-weight: 800;
  font-size: 20px;
  color: #FFFFFF;
  text-align: center;
}
.contact .form__btn-active svg {
  position: inherit;
  top: -10px;
  right: -30px;
  transition: all 0.5s;
  transform: scale(0);
}
.contact .form__btn-active::before {
  content: "";
  position: absolute;
  width: 238px;
  height: 239px;
  top: -5px;
  bottom: 0px;
  left: -6px;
  right: 0px;
  background: #388AF3;
  border-radius: 50%;
  z-index: -1;
}
.contact .form__btn::before {
  content: "";
  position: absolute;
  width: 238px;
  height: 239px;
  top: -5px;
  bottom: 0px;
  left: -6px;
  right: 0px;
  background: linear-gradient(45deg, #388AF3, #A483E2);
  border-radius: 50%;
  z-index: -1;
}
.contact .form__btn:hover::before {
  content: "";
  position: absolute;
  width: 238px;
  height: 239px;
  top: -5px;
  bottom: 0px;
  left: -6px;
  right: 0px;
  background: #388AF3;
  border-radius: 50%;
  z-index: -1;
}
.contact .form__btn:hover {
  background: #388AF3;
  transition: all 0.5s;
}
.contact .form__btn:hover svg {
  position: inherit;
  top: 30px;
  right: 30px;
  transition: all 0.5s;
  transform: scale(1.7);
}
.contact .form__btn:hover span {
  color: #FFFFFF;
  text-align: center;
  margin-top: 0px;
  transition: all 0.5s;
}

@media (max-width: 1460px) {
  .contact .form__btn {
    position: absolute;
    left: 0px;
    bottom: -300px;
  }
  .contact .form__btn-active {
    position: absolute;
    cursor: pointer;
    width: 227px;
    height: 227px;
    left: 0px;
    bottom: -300px;
    border-radius: 50%;
    background: #388AF3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact .form__btn-active span {
    margin-top: 0px;
    font-weight: 800;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
  }
  .contact .form__btn-active svg {
    position: inherit;
    top: -10px;
    right: -30px;
    transition: all 0.5s;
    transform: scale(0);
  }
}
@media (max-width: 426px) {
  .contact {
    margin-left: 40px;
  }
  .contact .menu {
    font-weight: 300;
    font-size: 12px;
  }
  .contact .form {
    margin-top: 57px;
  }
  .contact .form__header {
    font-weight: 700;
    font-size: 40px;
  }
  .contact .form__descr {
    font-weight: 400;
    font-size: 16px;
    margin-top: 22px;
  }
  .contact .form__input {
    margin-top: 80px;
    width: 400px;
  }
  .contact .form__input .wrapper-name .form__name {
    width: 332px;
  }
  .contact .form__input .wrapper-name .placeholder-name {
    font-weight: 400;
    font-size: 22px;
  }
  .contact .form__input .wrapper-email {
    margin-top: 60px;
  }
  .contact .form__input .wrapper-email .form__email {
    width: 332px;
  }
  .contact .form__input .wrapper-email .placeholder-email {
    font-weight: 400;
    font-size: 22px;
  }
  .contact .form__input .wrapper-comment {
    margin-top: 20px;
  }
  .contact .form__input .wrapper-comment .form__comment {
    width: 332px;
  }
  .contact .form__input .wrapper-comment .placeholder-comment {
    font-weight: 400;
    font-size: 22px;
  }
}
.footer {
  max-width: 1210px;
}
@media (max-width: 1460px) {
  .footer {
    max-width: 810px;
  }
}
.footer__logo path {
  fill: #FFFFFF;
}
.footer .title {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  margin-bottom: 25px;
}
.footer .circle {
  width: 9px;
  height: 9px;
  margin-left: 10px;
  background: #FFFFFF;
  border-radius: 50%;
}
.footer__info {
  display: flex;
  justify-content: flex-start;
}
.footer__info-services {
  margin-left: 196px;
  color: #FFFFFF;
}
.footer__info-services p:nth-last-child(-n+2) {
  margin-top: 20px;
}
.footer__info-about {
  margin-left: 122px;
  color: #FFFFFF;
}
.footer__info-about a {
  text-decoration: none;
  color: #FFFFFF;
}
.footer__info-about .project {
  margin-top: 20px;
}
.footer__info-about a:nth-last-child(-n+2) {
  display: block;
  margin-top: 20px;
}
.footer__info-contacts {
  margin-left: 172px;
  color: #FFFFFF;
}
.footer__info-contacts a {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
}
.footer__info-contacts .arrow {
  margin-left: 9px;
}
.footer__info-contacts a:nth-last-child(-n+2) {
  margin-top: 20px;
}
.footer__info-wrapper {
  display: flex;
}
.footer__info-sn {
  margin-left: 74px;
  margin-top: 43px;
}
.footer__info-sn div:nth-last-child(1) {
  margin-top: 20px;
}
.footer__addit {
  display: flex;
  justify-content: space-between;
  max-width: 1146px;
  margin-top: 49px;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
}
.footer__addit a {
  text-decoration: none;
  color: #FFFFFF;
}

@media (max-width: 993px) {
  .footer {
    max-width: 810px;
  }
  .footer__info {
    max-width: 922px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
  }
  .footer__info-wraplogo {
    flex: 100%;
  }
  .footer__info-services {
    margin-left: 0px;
    flex-basis: 17%;
  }
  .footer__info-about {
    margin-left: 73px;
    flex-basis: 3%;
  }
  .footer__info-contacts {
    margin-left: 131px;
    flex-basis: 33%;
  }
  .footer__info-sn {
    margin-top: 0px;
  }
  .footer__logo {
    margin-bottom: 50px;
  }
  .footer__addit {
    max-width: 922px;
    margin-left: 40px;
    margin-top: 126px;
  }
}
@media (max-width: 426px) {
  .footer__info {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .footer__info-services {
    margin-left: 0;
  }
  .footer__info-about {
    margin-left: 0;
  }
  .footer__info-contacts {
    margin-left: 0;
  }
  .footer__info-sn {
    margin-top: 37px;
  }
  .footer__addit {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 57px;
  }
  .footer__addit p:nth-child(1) {
    width: 238px;
    margin-top: 10px;
  }
}